openapi: 3.0.1
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 1.0.9.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /applications:
    description: Provides operations to manage the collection of application entities.
    get:
      tags:
        - applications.application
      summary: List applications
      description: Get the list of applications in this organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-list?view=graph-rest-1.0
      operationId: applications.application.ListApplication
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - addIns
                - addIns desc
                - api
                - api desc
                - appId
                - appId desc
                - applicationTemplateId
                - applicationTemplateId desc
                - appRoles
                - appRoles desc
                - certification
                - certification desc
                - createdDateTime
                - createdDateTime desc
                - defaultRedirectUri
                - defaultRedirectUri desc
                - description
                - description desc
                - disabledByMicrosoftStatus
                - disabledByMicrosoftStatus desc
                - displayName
                - displayName desc
                - groupMembershipClaims
                - groupMembershipClaims desc
                - identifierUris
                - identifierUris desc
                - info
                - info desc
                - isDeviceOnlyAuthSupported
                - isDeviceOnlyAuthSupported desc
                - isFallbackPublicClient
                - isFallbackPublicClient desc
                - keyCredentials
                - keyCredentials desc
                - logo
                - logo desc
                - notes
                - notes desc
                - oauth2RequirePostResponse
                - oauth2RequirePostResponse desc
                - optionalClaims
                - optionalClaims desc
                - parentalControlSettings
                - parentalControlSettings desc
                - passwordCredentials
                - passwordCredentials desc
                - publicClient
                - publicClient desc
                - publisherDomain
                - publisherDomain desc
                - requestSignatureVerification
                - requestSignatureVerification desc
                - requiredResourceAccess
                - requiredResourceAccess desc
                - samlMetadataUrl
                - samlMetadataUrl desc
                - serviceManagementReference
                - serviceManagementReference desc
                - signInAudience
                - signInAudience desc
                - spa
                - spa desc
                - tags
                - tags desc
                - tokenEncryptionKeyId
                - tokenEncryptionKeyId desc
                - verifiedPublisher
                - verifiedPublisher desc
                - web
                - web desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addIns
                - api
                - appId
                - applicationTemplateId
                - appRoles
                - certification
                - createdDateTime
                - defaultRedirectUri
                - description
                - disabledByMicrosoftStatus
                - displayName
                - groupMembershipClaims
                - identifierUris
                - info
                - isDeviceOnlyAuthSupported
                - isFallbackPublicClient
                - keyCredentials
                - logo
                - notes
                - oauth2RequirePostResponse
                - optionalClaims
                - parentalControlSettings
                - passwordCredentials
                - publicClient
                - publisherDomain
                - requestSignatureVerification
                - requiredResourceAccess
                - samlMetadataUrl
                - serviceManagementReference
                - signInAudience
                - spa
                - tags
                - tokenEncryptionKeyId
                - verifiedPublisher
                - web
                - appManagementPolicies
                - createdOnBehalfOf
                - extensionProperties
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appManagementPolicies
                - createdOnBehalfOf
                - extensionProperties
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.applicationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.application
      summary: Create application
      description: Create a new application object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-applications?view=graph-rest-1.0
      operationId: applications.application.CreateApplication
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}':
    description: Provides operations to manage the collection of application entities.
    get:
      tags:
        - applications.application
      summary: Get application
      description: Get the properties and relationships of an application object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-get?view=graph-rest-1.0
      operationId: applications.application.GetApplication
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addIns
                - api
                - appId
                - applicationTemplateId
                - appRoles
                - certification
                - createdDateTime
                - defaultRedirectUri
                - description
                - disabledByMicrosoftStatus
                - displayName
                - groupMembershipClaims
                - identifierUris
                - info
                - isDeviceOnlyAuthSupported
                - isFallbackPublicClient
                - keyCredentials
                - logo
                - notes
                - oauth2RequirePostResponse
                - optionalClaims
                - parentalControlSettings
                - passwordCredentials
                - publicClient
                - publisherDomain
                - requestSignatureVerification
                - requiredResourceAccess
                - samlMetadataUrl
                - serviceManagementReference
                - signInAudience
                - spa
                - tags
                - tokenEncryptionKeyId
                - verifiedPublisher
                - web
                - appManagementPolicies
                - createdOnBehalfOf
                - extensionProperties
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appManagementPolicies
                - createdOnBehalfOf
                - extensionProperties
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.application
      summary: Update application
      description: Update the properties of an application object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-update?view=graph-rest-1.0
      operationId: applications.application.UpdateApplication
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.application
      summary: Delete application
      description: 'Delete an application object. When deleted, apps are moved to a temporary container and can be restored within 30 days. After that time, they are permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-delete?view=graph-rest-1.0
      operationId: applications.application.DeleteApplication
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        schema:
          type: string
        x-ms-docs-key-type: application
  '/applications/{application-id}/addPassword':
    description: Provides operations to call the addPassword method.
    post:
      tags:
        - applications.Actions
      summary: Invoke action addPassword
      description: Adds a strong password or secret to an application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-addpassword?view=graph-rest-1.0
      operationId: applications.application.addPassword
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                passwordCredential:
                  anyOf:
                    - $ref: '#/components/schemas/microsoft.graph.passwordCredential'
                    - type: object
                      nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        schema:
          type: string
        x-ms-docs-key-type: application
  /servicePrincipals:
    description: Provides operations to manage the collection of servicePrincipal entities.
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: List servicePrincipals
      description: Retrieve a list of servicePrincipal objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceprincipal-list?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.ListServicePrincipal
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - addIns
                - addIns desc
                - alternativeNames
                - alternativeNames desc
                - appDescription
                - appDescription desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - applicationTemplateId
                - applicationTemplateId desc
                - appOwnerOrganizationId
                - appOwnerOrganizationId desc
                - appRoleAssignmentRequired
                - appRoleAssignmentRequired desc
                - appRoles
                - appRoles desc
                - customSecurityAttributes
                - customSecurityAttributes desc
                - description
                - description desc
                - disabledByMicrosoftStatus
                - disabledByMicrosoftStatus desc
                - displayName
                - displayName desc
                - homepage
                - homepage desc
                - info
                - info desc
                - keyCredentials
                - keyCredentials desc
                - loginUrl
                - loginUrl desc
                - logoutUrl
                - logoutUrl desc
                - notes
                - notes desc
                - notificationEmailAddresses
                - notificationEmailAddresses desc
                - oauth2PermissionScopes
                - oauth2PermissionScopes desc
                - passwordCredentials
                - passwordCredentials desc
                - preferredSingleSignOnMode
                - preferredSingleSignOnMode desc
                - preferredTokenSigningKeyThumbprint
                - preferredTokenSigningKeyThumbprint desc
                - replyUrls
                - replyUrls desc
                - resourceSpecificApplicationPermissions
                - resourceSpecificApplicationPermissions desc
                - samlSingleSignOnSettings
                - samlSingleSignOnSettings desc
                - servicePrincipalNames
                - servicePrincipalNames desc
                - servicePrincipalType
                - servicePrincipalType desc
                - signInAudience
                - signInAudience desc
                - tags
                - tags desc
                - tokenEncryptionKeyId
                - tokenEncryptionKeyId desc
                - verifiedPublisher
                - verifiedPublisher desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - alternativeNames
                - appDescription
                - appDisplayName
                - appId
                - applicationTemplateId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - customSecurityAttributes
                - description
                - disabledByMicrosoftStatus
                - displayName
                - homepage
                - info
                - keyCredentials
                - loginUrl
                - logoutUrl
                - notes
                - notificationEmailAddresses
                - oauth2PermissionScopes
                - passwordCredentials
                - preferredSingleSignOnMode
                - preferredTokenSigningKeyThumbprint
                - replyUrls
                - resourceSpecificApplicationPermissions
                - samlSingleSignOnSettings
                - servicePrincipalNames
                - servicePrincipalType
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - verifiedPublisher
                - appManagementPolicies
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - createdObjects
                - delegatedPermissionClassifications
                - endpoints
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - memberOf
                - oauth2PermissionGrants
                - ownedObjects
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - transitiveMemberOf
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appManagementPolicies
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - createdObjects
                - delegatedPermissionClassifications
                - endpoints
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - memberOf
                - oauth2PermissionGrants
                - ownedObjects
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - transitiveMemberOf
                - synchronization
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.servicePrincipalCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Create servicePrincipal
      description: Create a new servicePrincipal object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceprincipal-post-serviceprincipals?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.CreateServicePrincipal
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}':
    description: Provides operations to manage the collection of servicePrincipal entities.
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get servicePrincipal
      description: Retrieve the properties and relationships of a servicePrincipal object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceprincipal-get?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - alternativeNames
                - appDescription
                - appDisplayName
                - appId
                - applicationTemplateId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - customSecurityAttributes
                - description
                - disabledByMicrosoftStatus
                - displayName
                - homepage
                - info
                - keyCredentials
                - loginUrl
                - logoutUrl
                - notes
                - notificationEmailAddresses
                - oauth2PermissionScopes
                - passwordCredentials
                - preferredSingleSignOnMode
                - preferredTokenSigningKeyThumbprint
                - replyUrls
                - resourceSpecificApplicationPermissions
                - samlSingleSignOnSettings
                - servicePrincipalNames
                - servicePrincipalType
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - verifiedPublisher
                - appManagementPolicies
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - createdObjects
                - delegatedPermissionClassifications
                - endpoints
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - memberOf
                - oauth2PermissionGrants
                - ownedObjects
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - transitiveMemberOf
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appManagementPolicies
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - createdObjects
                - delegatedPermissionClassifications
                - endpoints
                - federatedIdentityCredentials
                - homeRealmDiscoveryPolicies
                - memberOf
                - oauth2PermissionGrants
                - ownedObjects
                - owners
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - transitiveMemberOf
                - synchronization
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Update entity in servicePrincipals
      operationId: servicePrincipals.servicePrincipal.UpdateServicePrincipal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Delete servicePrincipal
      description: Delete a servicePrincipal object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceprincipal-delete?view=graph-rest-1.0
      operationId: servicePrincipals.servicePrincipal.DeleteServicePrincipal
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: servicePrincipal-id
        in: path
        description: The unique identifier of servicePrincipal
        required: true
        schema:
          type: string
        x-ms-docs-key-type: servicePrincipal
components:
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.applicationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.applicationCollectionResponse'
    microsoft.graph.servicePrincipalCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.servicePrincipalCollectionResponse'
  schemas:
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
        - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        Date:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.applicationCollectionResponse:
      title: Collection of application
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.application'
    microsoft.graph.servicePrincipalCollectionResponse:
      title: Collection of servicePrincipal
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
        - type: object
          properties:
            value:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.count':
          type: integer
          format: int64
          nullable: true
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.entity:
      title: entity
      required:
        - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique idenfier for an entity. Read-only.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.directoryObject': '#/components/schemas/microsoft.graph.directoryObject'
          '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
          '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          required:
            - '@odata.type'
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
              nullable: true
            '@odata.type':
              type: string
          discriminator:
            propertyName: '@odata.type'
            mapping:
              '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
              '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
    microsoft.graph.application:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: application
          required:
            - '@odata.type'
          type: object
          properties:
            # addIns:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.addIn'
            #   description: 'Defines custom behavior that a consuming service can use to call an app in specific contexts. For example, applications that can render file streams may set the addIns property for its ''FileHandler'' functionality. This will let services like Office 365 call the application in the context of a document the user is working on.'
            # api:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.apiApplication'
            #     - type: object
            #       nullable: true
            #   description: Specifies settings for an application that implements a web API.
            appId:
              type: string
              description: The unique identifier for the application that is assigned to an application by Azure AD. Not nullable. Read-only. Supports $filter (eq).
              nullable: true
            # applicationTemplateId:
            #   type: string
            #   description: 'Unique identifier of the applicationTemplate. Supports $filter (eq, not, ne).'
            #   nullable: true
            # appRoles:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.appRole'
            #   description: 'The collection of roles defined for the application. With app role assignments, these roles can be assigned to users, groups, or service principals associated with other applications. Not nullable.'
            # certification:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.certification'
            #     - type: object
            #       nullable: true
            #   description: Specifies the certification status of the application.
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The date and time the application was registered. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.  Supports $filter (eq, ne, not, ge, le, in, and eq on null values) and $orderBy.'
              format: date-time
              nullable: true
            # defaultRedirectUri:
            #   type: string
            #   nullable: true
            # description:
            #   type: string
            #   description: 'Free text field to provide a description of the application object to end users. The maximum allowed size is 1024 characters. Supports $filter (eq, ne, not, ge, le, startsWith) and $search.'
            #   nullable: true
            # disabledByMicrosoftStatus:
            #   type: string
            #   description: 'Specifies whether Microsoft has disabled the registered application. Possible values are: null (default value), NotDisabled, and DisabledDueToViolationOfServicesAgreement (reasons may include suspicious, abusive, or malicious activity, or a violation of the Microsoft Services Agreement).  Supports $filter (eq, ne, not).'
            #   nullable: true
            displayName:
              type: string
              description: 'The display name for the application. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderBy.'
              nullable: true
            # groupMembershipClaims:
            #   type: string
            #   description: 'Configures the groups claim issued in a user or OAuth 2.0 access token that the application expects. To set this attribute, use one of the following valid string values: None, SecurityGroup (for security groups and Azure AD roles), All (this gets all of the security groups, distribution groups, and Azure AD directory roles that the signed-in user is a member of).'
            #   nullable: true
            # identifierUris:
            #   type: array
            #   items:
            #     type: string
            #   description: 'Also known as App ID URI, this value is set when an application is used as a resource app. The identifierUris acts as the prefix for the scopes you''ll reference in your API''s code, and it must be globally unique. You can use the default value provided, which is in the form api://<application-client-id>, or specify a more readable URI like https://contoso.com/api. For more information on valid identifierUris patterns and best practices, see Azure AD application registration security best practices. Not nullable. Supports $filter (eq, ne, ge, le, startsWith).'
            # info:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.informationalUrl'
            #     - type: object
            #       nullable: true
            #   description: 'Basic profile information of the application such as  app''s marketing, support, terms of service and privacy statement URLs. The terms of service and privacy statement are surfaced to users through the user consent experience. For more info, see How to: Add Terms of service and privacy statement for registered Azure AD apps. Supports $filter (eq, ne, not, ge, le, and eq on null values).'
            # isDeviceOnlyAuthSupported:
            #   type: boolean
            #   description: Specifies whether this application supports device authentication without a user. The default is false.
            #   nullable: true
            # isFallbackPublicClient:
            #   type: boolean
            #   description: 'Specifies the fallback application type as public client, such as an installed application running on a mobile device. The default value is false which means the fallback application type is confidential client such as a web app. There are certain scenarios where Azure AD cannot determine the client application type. For example, the ROPC flow where it is configured without specifying a redirect URI. In those cases Azure AD interprets the application type based on the value of this property.'
            #   nullable: true
            # keyCredentials:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.keyCredential'
            #   description: 'The collection of key credentials associated with the application. Not nullable. Supports $filter (eq, not, ge, le).'
            # logo:
            #   type: string
            #   description: The main logo for the application. Not nullable.
            #   format: base64url
            # notes:
            #   type: string
            #   description: Notes relevant for the management of the application.
            #   nullable: true
            # oauth2RequirePostResponse:
            #   type: boolean
            # optionalClaims:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.optionalClaims'
            #     - type: object
            #       nullable: true
            #   description: 'Application developers can configure optional claims in their Azure AD applications to specify the claims that are sent to their application by the Microsoft security token service. For more information, see How to: Provide optional claims to your app.'
            # parentalControlSettings:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.parentalControlSettings'
            #     - type: object
            #       nullable: true
            #   description: Specifies parental control settings for an application.
            passwordCredentials:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
              description: The collection of password credentials associated with the application. Not nullable.
            # publicClient:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.publicClientApplication'
            #     - type: object
            #       nullable: true
            #   description: Specifies settings for installed clients such as desktop or mobile devices.
            # publisherDomain:
            #   type: string
            #   description: 'The verified publisher domain for the application. Read-only. For more information, see How to: Configure an application''s publisher domain. Supports $filter (eq, ne, ge, le, startsWith).'
            #   nullable: true
            # requestSignatureVerification:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.requestSignatureVerification'
            #     - type: object
            #       nullable: true
            #   description: Specifies whether this application requires Azure AD to verify the signed authentication requests.
            # requiredResourceAccess:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.requiredResourceAccess'
            #   description: 'Specifies the resources that the application needs to access. This property also specifies the set of delegated permissions and application roles that it needs for each of those resources. This configuration of access to the required resources drives the consent experience. No more than 50 resource services (APIs) can be configured. Beginning mid-October 2021, the total number of required permissions must not exceed 400. For more information, see Limits on requested permissions per app. Not nullable. Supports $filter (eq, not, ge, le).'
            # samlMetadataUrl:
            #   type: string
            #   description: The URL where the service exposes SAML metadata for federation. This property is valid only for single-tenant applications. Nullable.
            #   nullable: true
            # serviceManagementReference:
            #   type: string
            #   description: References application or service contact information from a Service or Asset Management database. Nullable.
            #   nullable: true
            # signInAudience:
            #   type: string
            #   description: 'Specifies the Microsoft accounts that are supported for the current application. The possible values are: AzureADMyOrg, AzureADMultipleOrgs, AzureADandPersonalMicrosoftAccount (default), and PersonalMicrosoftAccount. See more in the table. The value of this object also limits the number of permissions an app can request. For more information, see Limits on requested permissions per app. The value for this property has implications on other app object properties. As a result, if you change this property, you may need to change other properties first. For more information, see Validation differences for signInAudience.Supports $filter (eq, ne, not).'
            #   nullable: true
            # spa:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.spaApplication'
            #     - type: object
            #       nullable: true
            #   description: 'Specifies settings for a single-page application, including sign out URLs and redirect URIs for authorization codes and access tokens.'
            # tags:
            #   type: array
            #   items:
            #     type: string
            #   description: 'Custom strings that can be used to categorize and identify the application. Not nullable. Strings added here will also appear in the tags property of any associated service principals.Supports $filter (eq, not, ge, le, startsWith) and $search.'
            # tokenEncryptionKeyId:
            #   pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            #   type: string
            #   description: 'Specifies the keyId of a public key from the keyCredentials collection. When configured, Azure AD encrypts all the tokens it emits by using the key this property points to. The application code that receives the encrypted token must use the matching private key to decrypt the token before it can be used for the signed-in user.'
            #   format: uuid
            #   nullable: true
            # verifiedPublisher:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.verifiedPublisher'
            #     - type: object
            #       nullable: true
            #   description: 'Specifies the verified publisher of the application. For more information about how publisher verification helps support application security, trustworthiness, and compliance, see Publisher verification.'
            # web:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.webApplication'
            #     - type: object
            #       nullable: true
            #   description: Specifies settings for a web application.
            # appManagementPolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.appManagementPolicy'
            #   description: The appManagementPolicy applied to this application.
            #   x-ms-navigationProperty: true
            # createdOnBehalfOf:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #     - type: object
            #       nullable: true
            #   description: 'Supports $filter (/$count eq 0, /$count ne 0). Read-only.'
            #   x-ms-navigationProperty: true
            # extensionProperties:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.extensionProperty'
            #   description: 'Read-only. Nullable. Supports $expand and $filter (/$count eq 0, /$count ne 0).'
            #   x-ms-navigationProperty: true
            # federatedIdentityCredentials:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.federatedIdentityCredential'
            #   description: 'Federated identities for applications. Supports $expand and $filter (startsWith, /$count eq 0, /$count ne 0).'
            #   x-ms-navigationProperty: true
            # homeRealmDiscoveryPolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            #   x-ms-navigationProperty: true
            # owners:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #   description: 'Directory objects that are owners of the application. Read-only. Nullable. Supports $expand, $filter (/$count eq 0, /$count ne 0, /$count eq 1, /$count ne 1), and $select nested in $expand.'
            #   x-ms-navigationProperty: true
            # tokenIssuancePolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            #   x-ms-navigationProperty: true
            # tokenLifetimePolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            #   x-ms-navigationProperty: true
            # synchronization:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.synchronization'
            #     - type: object
            #       nullable: true
            #   description: Represents the capability for Azure Active Directory (Azure AD) identity synchronization through the Microsoft Graph API.
            #   x-ms-navigationProperty: true
            # '@odata.type':
            #   type: string
            #   default: '#microsoft.graph.application'
      x-ms-discriminator-value: '#microsoft.graph.application'
    microsoft.graph.passwordCredential:
      title: passwordCredential
      required:
        - '@odata.type'
      type: object
      properties:
        customKeyIdentifier:
          type: string
          description: Do not use.
          format: base64url
          nullable: true
        displayName:
          type: string
          description: Friendly name for the password. Optional.
          nullable: true
        endDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time at which the password expires represented using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Optional.'
          format: date-time
          nullable: true
        hint:
          type: string
          description: Contains the first three characters of the password. Read-only.
          nullable: true
        keyId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: The unique identifier for the password.
          format: uuid
          nullable: true
        secretText:
          type: string
          description: Read-only; Contains the strong passwords generated by Azure AD that are 16-64 characters in length. The generated password value is only returned during the initial POST request to addPassword. There is no way to retrieve this password in the future.
          nullable: true
        startDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time at which the password becomes valid. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Optional.'
          format: date-time
          nullable: true
        '@odata.type':
          type: string
    microsoft.graph.servicePrincipal:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: servicePrincipal
          required:
            - '@odata.type'
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the service principal account is enabled; otherwise, false. If set to false, then no users will be able to sign in to this app, even if they are assigned to it. Supports $filter (eq, ne, not, in).'
              nullable: true
            # addIns:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.addIn'
            #   description: 'Defines custom behavior that a consuming service can use to call an app in specific contexts. For example, applications that can render file streams may set the addIns property for its ''FileHandler'' functionality. This will let services like Microsoft 365 call the application in the context of a document the user is working on.'
            # alternativeNames:
            #   type: array
            #   items:
            #     type: string
            #   description: 'Used to retrieve service principals by subscription, identify resource group and full resource ids for managed identities. Supports $filter (eq, not, ge, le, startsWith).'
            # appDescription:
            #   type: string
            #   description: The description exposed by the associated application.
            #   nullable: true
            # appDisplayName:
            #   type: string
            #   description: The display name exposed by the associated application.
            #   nullable: true
            appId:
              type: string
              description: 'The unique identifier for the associated application (its appId property). Supports $filter (eq, ne, not, in, startsWith).'
              nullable: true
            # applicationTemplateId:
            #   type: string
            #   description: 'Unique identifier of the applicationTemplate that the servicePrincipal was created from. Read-only. Supports $filter (eq, ne, NOT, startsWith).'
            #   nullable: true
            # appOwnerOrganizationId:
            #   pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            #   type: string
            #   description: 'Contains the tenant id where the application is registered. This is applicable only to service principals backed by applications. Supports $filter (eq, ne, NOT, ge, le).'
            #   format: uuid
            #   nullable: true
            # appRoleAssignmentRequired:
            #   type: boolean
            #   description: 'Specifies whether users or other service principals need to be granted an app role assignment for this service principal before users can sign in or apps can get tokens. The default value is false. Not nullable. Supports $filter (eq, ne, NOT).'
            # appRoles:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.appRole'
            #   description: The roles exposed by the application which this service principal represents. For more information see the appRoles property definition on the application entity. Not nullable.
            # customSecurityAttributes:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeValue'
            #     - type: object
            #       nullable: true
            #   description: 'An open complex type that holds the value of a custom security attribute that is assigned to a directory object. Nullable. Returned only on $select. Supports $filter (eq, ne, not, startsWith). Filter value is case sensitive.'
            # description:
            #   type: string
            #   description: 'Free text field to provide an internal end-user facing description of the service principal. End-user portals such MyApps will display the application description in this field. The maximum allowed size is 1024 characters. Supports $filter (eq, ne, not, ge, le, startsWith) and $search.'
            #   nullable: true
            disabledByMicrosoftStatus:
              type: string
              description: 'Specifies whether Microsoft has disabled the registered application. Possible values are: null (default value), NotDisabled, and DisabledDueToViolationOfServicesAgreement (reasons may include suspicious, abusive, or malicious activity, or a violation of the Microsoft Services Agreement).  Supports $filter (eq, ne, not).'
              nullable: true
            # displayName:
            #   type: string
            #   description: 'The display name for the service principal. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderBy.'
            #   nullable: true
            # homepage:
            #   type: string
            #   description: Home page or landing page of the application.
            #   nullable: true
            # info:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.informationalUrl'
            #     - type: object
            #       nullable: true
            #   description: 'Basic profile information of the acquired application such as app''s marketing, support, terms of service and privacy statement URLs. The terms of service and privacy statement are surfaced to users through the user consent experience. For more info, see How to: Add Terms of service and privacy statement for registered Azure AD apps. Supports $filter (eq, ne, not, ge, le, and eq on null values).'
            # keyCredentials:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.keyCredential'
            #   description: 'The collection of key credentials associated with the service principal. Not nullable. Supports $filter (eq, not, ge, le).'
            # loginUrl:
            #   type: string
            #   description: 'Specifies the URL where the service provider redirects the user to Azure AD to authenticate. Azure AD uses the URL to launch the application from Microsoft 365 or the Azure AD My Apps. When blank, Azure AD performs IdP-initiated sign-on for applications configured with SAML-based single sign-on. The user launches the application from Microsoft 365, the Azure AD My Apps, or the Azure AD SSO URL.'
            #   nullable: true
            # logoutUrl:
            #   type: string
            #   description: 'Specifies the URL that will be used by Microsoft''s authorization service to logout an user using OpenId Connect front-channel, back-channel or SAML logout protocols.'
            #   nullable: true
            # notes:
            #   type: string
            #   description: 'Free text field to capture information about the service principal, typically used for operational purposes. Maximum allowed size is 1024 characters.'
            #   nullable: true
            # notificationEmailAddresses:
            #   type: array
            #   items:
            #     type: string
            #   description: Specifies the list of email addresses where Azure AD sends a notification when the active certificate is near the expiration date. This is only for the certificates used to sign the SAML token issued for Azure AD Gallery applications.
            # oauth2PermissionScopes:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.permissionScope'
            #   description: The delegated permissions exposed by the application. For more information see the oauth2PermissionScopes property on the application entity's api property. Not nullable.
            passwordCredentials:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
              description: The collection of password credentials associated with the application. Not nullable.
            # preferredSingleSignOnMode:
            #   type: string
            #   description: 'Specifies the single sign-on mode configured for this application. Azure AD uses the preferred single sign-on mode to launch the application from Microsoft 365 or the Azure AD My Apps. The supported values are password, saml, notSupported, and oidc.'
            #   nullable: true
            # preferredTokenSigningKeyThumbprint:
            #   type: string
            #   description: 'This property can be used on SAML applications (apps that have preferredSingleSignOnMode set to saml) to control which certificate is used to sign the SAML responses. For applications that are not SAML, do not write or otherwise rely on this property.'
            #   nullable: true
            # replyUrls:
            #   type: array
            #   items:
            #     type: string
            #   description: 'The URLs that user tokens are sent to for sign in with the associated application, or the redirect URIs that OAuth 2.0 authorization codes and access tokens are sent to for the associated application. Not nullable.'
            # resourceSpecificApplicationPermissions:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.resourceSpecificPermission'
            #   description: 'The resource-specific application permissions exposed by this application. Currently, resource-specific permissions are only supported for Teams apps accessing to specific chats and teams using Microsoft Graph. Read-only.'
            # samlSingleSignOnSettings:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.samlSingleSignOnSettings'
            #     - type: object
            #       nullable: true
            #   description: The collection for settings related to saml single sign-on.
            servicePrincipalNames:
              type: array
              items:
                type: string
              description: 'Contains the list of identifiersUris, copied over from the associated application. Additional values can be added to hybrid applications. These values can be used to identify the permissions exposed by this app within Azure AD. For example,Client apps can specify a resource URI which is based on the values of this property to acquire an access token, which is the URI returned in the ''aud'' claim.The any operator is required for filter expressions on multi-valued properties. Not nullable.  Supports $filter (eq, not, ge, le, startsWith).'
            servicePrincipalType:
              type: string
              description: 'Identifies whether the service principal represents an application, a managed identity, or a legacy application. This is set by Azure AD internally. The servicePrincipalType property can be set to three different values: Application - A service principal that represents an application or service. The appId property identifies the associated app registration, and matches the appId of an application, possibly from a different tenant. If the associated app registration is missing, tokens are not issued for the service principal.ManagedIdentity - A service principal that represents a managed identity. Service principals representing managed identities can be granted access and permissions, but cannot be updated or modified directly.Legacy - A service principal that represents an app created before app registrations, or through legacy experiences. Legacy service principal can have credentials, service principal names, reply URLs, and other properties which are editable by an authorized user, but does not have an associated app registration. The appId value does not associate the service principal with an app registration. The service principal can only be used in the tenant where it was created.SocialIdp - For internal use.'
              nullable: true
            # signInAudience:
            #   type: string
            #   description: 'Specifies the Microsoft accounts that are supported for the current application. Read-only. Supported values are:AzureADMyOrg: Users with a Microsoft work or school account in my organization''s Azure AD tenant (single-tenant).AzureADMultipleOrgs: Users with a Microsoft work or school account in any organization''s Azure AD tenant (multi-tenant).AzureADandPersonalMicrosoftAccount: Users with a personal Microsoft account, or a work or school account in any organization''s Azure AD tenant.PersonalMicrosoftAccount: Users with a personal Microsoft account only.'
            #   nullable: true
            tags:
              type: array
              items:
                type: string
              description: 'Custom strings that can be used to categorize and identify the service principal. Not nullable. The value is the union of strings set here and on the associated application entity''s tags property.Supports $filter (eq, not, ge, le, startsWith).'
            # tokenEncryptionKeyId:
            #   pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            #   type: string
            #   description: 'Specifies the keyId of a public key from the keyCredentials collection. When configured, Azure AD issues tokens for this application encrypted using the key specified by this property. The application code that receives the encrypted token must use the matching private key to decrypt the token before it can be used for the signed-in user.'
            #   format: uuid
            #   nullable: true
            # verifiedPublisher:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.verifiedPublisher'
            #     - type: object
            #       nullable: true
            #   description: Specifies the verified publisher of the application which this service principal represents.
            # appManagementPolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.appManagementPolicy'
            #   description: The appManagementPolicy applied to this application.
            #   x-ms-navigationProperty: true
            # appRoleAssignedTo:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
            #   description: 'App role assignments for this app or service, granted to users, groups, and other service principals. Supports $expand.'
            #   x-ms-navigationProperty: true
            # appRoleAssignments:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
            #   description: 'App role assignment for another app or service, granted to this service principal. Supports $expand.'
            #   x-ms-navigationProperty: true
            # claimsMappingPolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
            #   description: The claimsMappingPolicies assigned to this service principal. Supports $expand.
            #   x-ms-navigationProperty: true
            # createdObjects:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #   description: Directory objects created by this service principal. Read-only. Nullable.
            #   x-ms-navigationProperty: true
            # delegatedPermissionClassifications:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.delegatedPermissionClassification'
            #   x-ms-navigationProperty: true
            # endpoints:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.endpoint'
            #   x-ms-navigationProperty: true
            # federatedIdentityCredentials:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.federatedIdentityCredential'
            #   description: 'Federated identities for a specific type of service principal - managed identity. Supports $expand and $filter (/$count eq 0, /$count ne 0).'
            #   x-ms-navigationProperty: true
            # homeRealmDiscoveryPolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            #   description: The homeRealmDiscoveryPolicies assigned to this service principal. Supports $expand.
            #   x-ms-navigationProperty: true
            # memberOf:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #   description: 'Roles that this service principal is a member of. HTTP Methods: GET Read-only. Nullable. Supports $expand.'
            #   x-ms-navigationProperty: true
            # oauth2PermissionGrants:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
            #   description: Delegated permission grants authorizing this service principal to access an API on behalf of a signed-in user. Read-only. Nullable.
            #   x-ms-navigationProperty: true
            # ownedObjects:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #   description: 'Directory objects that are owned by this service principal. Read-only. Nullable. Supports $expand, $select nested in $expand, and $filter (/$count eq 0, /$count ne 0, /$count eq 1, /$count ne 1).'
            #   x-ms-navigationProperty: true
            # owners:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #   description: 'Directory objects that are owners of this servicePrincipal. The owners are a set of non-admin users or servicePrincipals who are allowed to modify this object. Read-only. Nullable. Supports $expand, $filter (/$count eq 0, /$count ne 0, /$count eq 1, /$count ne 1), and $select nested in $expand.'
            #   x-ms-navigationProperty: true
            # tokenIssuancePolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            #   description: The tokenIssuancePolicies assigned to this service principal.
            #   x-ms-navigationProperty: true
            # tokenLifetimePolicies:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            #   description: The tokenLifetimePolicies assigned to this service principal.
            #   x-ms-navigationProperty: true
            # transitiveMemberOf:
            #   type: array
            #   items:
            #     $ref: '#/components/schemas/microsoft.graph.directoryObject'
            #   x-ms-navigationProperty: true
            # synchronization:
            #   anyOf:
            #     - $ref: '#/components/schemas/microsoft.graph.synchronization'
            #     - type: object
            #       nullable: true
            #   description: Represents the capability for Azure Active Directory (Azure AD) identity synchronization through the Microsoft Graph API.
            #   x-ms-navigationProperty: true
            '@odata.type':
              type: string
              default: '#microsoft.graph.servicePrincipal'
      x-ms-discriminator-value: '#microsoft.graph.servicePrincipal'
