interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_aro_create000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001","name":"cli_test_aro_create000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2020-04-21T14:30:23Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet\"\
        ,\r\n  \"etag\": \"W/\\\"089ee3fa-c65f-4961-b7f7-56baa5e4c0ba\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":\
        \ \"Updating\",\r\n    \"resourceGuid\": \"1254cf47-dd55-46a1-a7e2-08391a02bab1\"\
        ,\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"\
        10.0.0.0/9\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\"\
        : []\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":\
        \ [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/81959172-e267-40a8-b387-ae18f4b819b9?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/81959172-e267-40a8-b387-ae18f4b819b9?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.26.151.0/24", "serviceEndpoints": [{"service": "Microsoft.ContainerRegistry"}]},
      "name": "dev_master000002"}], "virtualNetworkPeerings": [], "enableDdosProtection":
      false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microso[...]
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet",
      "location": "eastus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/9"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002",
      "properties": {"addressPrefix": "10.26.151.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry", "locations": ["*"]}], "delegations": [], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}, "name": "dev_master000002"},
      {"properties": {"addressPrefix": "10.102.119.0/24", "serviceEndpoints": [{"service":
      "Microsoft.ContainerRegistry"}]}, "name": "dev_worker000003"}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false, "enableVmProtection": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_master000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002\"\
        ,\r\n  \"etag\": \"W/\\\"a3fb5967-9a2b-4451-9ae7-5e8c4d11e487\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.26.151.0/24\",\r\n    \"serviceEndpoints\": [\r\n  \
        \    {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3fb5967-9a2b-4451-9ae7-5e8c4d11e487"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"dev_worker000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003\"\
        ,\r\n  \"etag\": \"W/\\\"4b2359ec-94b7-46f6-8758-4e849b6d77ae\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.102.119.0/24\",\r\n    \"serviceEndpoints\": [\r\n \
        \     {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"service\"\
        : \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n       \
        \   \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n\
        \    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\"\
        : \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4b2359ec-94b7-46f6-8758-4e849b6d77ae"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"passwordCredentials": [{"endDate": "2299-12-31T00:00:00.000Z", "value":
      "ReplacedSPPassword123*"}], "displayName": "aro-57nsp9rr", "identifierUris":
      ["https://az.aro.azure.com/34a0927a-c71b-434a-b4e8-388444f394e6"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "b2f579c8-ae73-4b86-808e-e651659453cc", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "f5525bf7-cb84-42e1-bb00-afef8c1a52b7",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "aro-57nsp9rr", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": null, "identifierUris": ["https://az.aro.azure.com/34a0927a-c71b-434a-b4e8-388444f394e6"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/b2f579c8-ae73-4b86-808e-e651659453cc/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/b2f579c8-ae73-4b86-808e-e651659453cc/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access aro-57nsp9rr on behalf of the signed-in user.",
        "adminConsentDisplayName": "Access aro-57nsp9rr", "id": "f13552f6-d59a-49ce-aaaa-5897421eb4b0",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access aro-57nsp9rr on your behalf.", "userConsentDisplayName": "Access
        aro-57nsp9rr", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": null, "endDate": "2299-12-31T00:00:00Z", "keyId":
        "0c81d6d1-846d-4224-8f0d-cb7736abb938", "startDate": "2020-04-21T14:30:57.4223877Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "rhcuppettgmail.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '8058659'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/b2f579c8-ae73-4b86-808e-e651659453cc/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - Zz+1F+1ti/uiBvDmlqFPPCgbBaLgiKw6RYLnwCNC19Q=
      ocp-aad-session-key:
      - 9ENHKDsgbOdkgjiUgfsECDGw-CBW8KkUVAunAXEY1sS3miw5NsULfypQkPrzMot-eyDmNQcghjAKNvAaEssizvNIUunJD__jAjJp6WfRuGbw7FEDbzf5GgSCsC3hMLL8_VrAIOc2IBrE9s1U_6P1nyLvrtIWxT6mR7LL5kqlgBQ.MZiemJrwY5oOg6gp8NJUPDb6SK6IUTg2dpnAxAOJfjY
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=appId%20eq%20%27f5525bf7-cb84-42e1-bb00-afef8c1a52b7%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1377800'
      ocp-aad-diagnostics-server-name:
      - AixINQjd1i57srhVAFP6k3yFOwMZaGMWeghx4KhMt0o=
      ocp-aad-session-key:
      - 2uaO_z-yoQuyVSzFhVSwxqiwWe8szP90kmltaXNERUKURqed7LwCSJPQeihonQTYss6oA47aDGPFM0Hx_WUGQkY2MhVO3xwh_54Gpvm9mrAojmXCvMTrs8AIl_zQhjUYDB6eLsEScgf4uZH9yeL7GW1ezQawf9Te5EgVBdRDNdw.OSfxViE0Lmij6_qUjlv9gTvakldeY_Lzdr6Cz8xPH-Q
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"appId": "f5525bf7-cb84-42e1-bb00-afef8c1a52b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"68611c4e-9045-4ae3-a86a-075723709fc6","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"aro-57nsp9rr","appId":"f5525bf7-cb84-42e1-bb00-afef8c1a52b7","applicationTemplateId":null,"appOwnerTenantId":"7a1815fb-63ba-4af7-8f33-e7333e421980","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"aro-57nsp9rr","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access aro-57nsp9rr on behalf of the signed-in user.","adminConsentDisplayName":"Access
        aro-57nsp9rr","id":"f13552f6-d59a-49ce-aaaa-5897421eb4b0","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access aro-57nsp9rr on your behalf.","userConsentDisplayName":"Access
        aro-57nsp9rr","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Azure
        Red Hat OpenShift (Red Hat)","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["f5525bf7-cb84-42e1-bb00-afef8c1a52b7","https://az.aro.azure.com/34a0927a-c71b-434a-b4e8-388444f394e6"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3968198'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/68611c4e-9045-4ae3-a86a-075723709fc6/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - G9lLv3j0Wz/oQu0mMdvvIluMEoi/LnSUFKhp8GhT0Js=
      ocp-aad-session-key:
      - DJOfYz9scuIWl8jewK3cynRm9SJQSCJyKJs7FpvS2lh42Pml-BYTVravVnmG_TRrAjVFdwXixlpE3Z5AYAofx6V5x96EBrr2jdIifT6T42PsRvf_gQstqkQmluGApLoku-54GRAVLTcImWtWg8cy7BjaG9pQHR6XwDXeuVyFnGs.HZCQvjtMAYbZbkC32Adl8-Oi2_wrbQfQxPnY3bzrqAs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/providers/Microsoft.Authorization/roleAssignments?api-version=2018-09-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"0255bd8a-9115-4fcd-9f3a-c00337edbb0b","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2019-12-28T19:20:12.1938451Z","updatedOn":"2020-02-13T20:33:24.5179169Z","createdBy":"60fa24bb-762f-4b64-a636-a208bc10682d","updatedBy":"037d517b-3868-4729-9b13-dfd8fff7f8f8"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/412173a9-cd67-5814-a6e6-ec7d981d60f4","type":"Microsoft.Authorization/roleAssignments","name":"412173a9-cd67-5814-a6e6-ec7d981d60f4"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9","principalId":"23527dad-94e8-4a37-a14a-025c[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "68611c4e-9045-4ae3-a86a-075723709fc6", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_tes[...]
[...]
- request:
    body: 'b''{"tags": {"test": "create"}, "location": "eastus", "properties": {"clusterProfile":
      {"pullSecret": "", "domain": "57nsp9rr", "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-57nsp9rr"},
      "servicePrincipalProfile": {"clientId": "f5525bf7-cb84-42e1-bb00-afef8c1a52b7",
      "clientSecret": "a1757bed-918f-476b-8eaa-3f5490dfba10"}, "networkProfile": {"podCidr":
      "10.128.0.0/14", "serviceCidr": "172.30.0.0/16"}, "masterProfile": {"vmSize":
      "Standard_D8s_v3", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_master000002"},
      "workerProfiles": [{"name": "worker", "vmSize": "Standard_D4s_v3", "diskSizeGB":
      128, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.Network/virtualNetworks/dev-vnet/subnets/dev_worker000003",
      "count": 3}], "apiserverProfile": {"visibility": "Public"}, "ingressProfiles":
      [{"name": "default", "visibility": "Public"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"create\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Creating\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"57nsp9rr\",\n\
        \            \"version\": \"4.3.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-57nsp9rr\"\
        \n        },\n        \"consoleProfile\": {},\n        \"servicePrincipalProfile\"\
        : {\n            \"clientId\": \"f5525bf7-cb84-42e1-bb00-afef8c1a52b7\"\n\
        \        },\n        \"networkProfile\": {\n            \"podCidr\": \"10.128.0.0/14\"\
        ,\n            \"serviceCidr\": \"172.30.0.0/16\"\n        },\n        \"\
        masterProfile\": {\n            \"vmSize\": \"Standard_D8s_v3\",\n       \
        \     \"subnetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_cr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72a84ed2-c6a1-4e37-81c3-41b8a3aa3e37?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72a84ed2-c6a1-4e37-81c3-41b8a3aa3e37\"\
        ,\n    \"name\": \"72a84ed2-c6a1-4e37-81c3-41b8a3aa3e37\",\n    \"startTime\"\
        : \"2020-04-21T14:31:11.211003432Z\",\n    \"status\": \"Creating\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72a84ed2-c6a1-4e37-81c3-41b8a3aa3e37?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"endTime\": \"2020-04-21T15:06:56.003933529Z\",\n    \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/eastus/operationsstatus/72a84ed2-c6a1-4e37-81c3-41b8a3aa3e37\"\
        ,\n    \"name\": \"72a84ed2-c6a1-4e37-81c3-41b8a3aa3e37\",\n    \"startTime\"\
        : \"2020-04-21T14:31:11.211003432Z\",\n    \"status\": \"Succeeded\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004?api-version=2020-04-30
  response:
    body:
      string: "{\n    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_aro_create000001/providers/Microsoft.RedHatOpenShift/openShiftClusters/aro000004\"\
        ,\n    \"name\": \"aro000004\",\n    \"type\": \"Microsoft.RedHatOpenShift/openShiftClusters\"\
        ,\n    \"location\": \"eastus\",\n    \"tags\": {\n        \"test\": \"create\"\
        \n    },\n    \"properties\": {\n        \"provisioningState\": \"Succeeded\"\
        ,\n        \"clusterProfile\": {\n            \"domain\": \"57nsp9rr\",\n\
        \            \"version\": \"4.3.10\",\n            \"resourceGroupId\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aro-57nsp9rr\"\
        \n        },\n        \"consoleProfile\": {\n            \"url\": \"https://console-openshift-console.apps.57nsp9rr.eastus.aroapp.io/\"\
        \n        },\n        \"servicePrincipalProfile\": {\n            \"clientId\"\
        : \"f5525bf7-cb84-42e1-bb00-afef8c1a52b7\"\n        },\n        \"networkProfile\"\
        : {\n            \"podCidr\": \"10.128.0.0/14\",\n            \"serviceCidr\"\
        : \"172.30.0.0/16\"\n        },\n        \"masterProfile\": {\n          \
        \  \"vmSize\": \"Standard_D8s_v3\",\n            \"subnetId\": \"/subs[...]
