apiVersion: v1
kind: Service
metadata:
  name: aro-operator-master
  namespace: openshift-azure-operator
spec:
  selector:
    app: aro-operator-master
  ports:
    - name: http
      port: 8080
      targetPort: 8080
