__pycache__
*.egg-info
/.eggs
*.pyc
gomock_reflect_*
/.vscode
/*.crt
/*.key
/*.kubeconfig
/*.pem
/*.tar
/aro
/dev-config.yaml
/e2e.test
/env*
!/env.example
!/env-int.example
/id_rsa
/proxy
/pyenv*
/python/az/aro/build
/python/az/aro/dist
/secrets*
/mdm_statsd.socket
/uts.txt
/cover.out
/cover_coverpkg.out
/coverage.*
/report.xml
/e2e-report.xml
/deploy/config.yaml
**/*.swp
/portal/v1/node_modules/
/portal/v2/node_modules/
portal/v2/.vscode/
.idea*
/hack/hive-config/crds
/hack/hive-config/hive-deployment.yaml
cmd/aro/__debug_bin
