__pycache__
*.egg-info
*.pyc
/.vscode
/*.crt
/*.key
/*.kubeconfig
/*.pem
/aro
/env*
!/env.example
/id_rsa
/proxy
/pyenv*
/python/az/aro/build
/python/az/aro/dist
/secrets
/secrets.tar.gz
/mdm_statsd.socket
/uts.txt
/cover.out
/coverage.*
/report.xml
/deploy/config.yaml
/aro-operator
