__pycache__
*.egg-info
/.eggs
*.pyc
gomock_reflect_*
/.vscode
/*.crt
/*.key
/*.kubeconfig
/*.pem
/aro
/dev-config.yaml
/e2e.test
/env*
!/env.example
/id_rsa
/proxy
/pyenv*
/python/az/aro/build
/python/az/aro/dist
/secrets*
/mdm_statsd.socket
/uts.txt
/cover.out
/coverage.*
/report.xml
/deploy/config.yaml
**/*.swp
/portal/node_modules/
.idea*
