. ./env

# Overrides for a full int-like local environment
export RESOURCEGROUP=$AZURE_PREFIX-aro-$LOCATION
export DATABASE_ACCOUNT_NAME=$AZURE_PREFIX-aro-$LOCATION
export DATABASE_NAME=ARO
export KEYVAULT_PREFIX=$AZURE_PREFIX-aro-$LOCATION
export KEYVAULT_PREFIX=${KEYVAULT_PREFIX::20}
export ARO_IMAGE=${AZURE_PREFIX}aro.azurecr.io/aro:$(git rev-parse --short=7 HEAD)$([[ $(git status --porcelain) = "" ]] || echo -dirty)
export FLUENTBIT_IMAGE=${AZURE_PREFIX}aro.azurecr.io/fluentbit:latest
