export AZURE_TENANT_ID=7a1815fb-63ba-4af7-8f33-e7333e421980
export AZURE_SUBSCRIPTION_ID=225e02bc-43d0-43d1-a01a-17e584a4ef69
export AZURE_CLIENT_ID=xxx
export AZURE_CLIENT_SECRET=xxx

export LOCATION=eastus

RP_RESOURCEGROUP=xxx
export COSMOSDB_ACCOUNT=xxx
export COSMOSDB_KEY=$(az cosmosdb keys list -g $RP_RESOURCEGROUP -n $COSMOSDB_ACCOUNT --query primaryMasterKey -o tsv)

export DOMAIN=osadev.cloud
export DOMAIN_RESOURCEGROUP=dns

export PULL_SECRET=xxx
