export AZURE_TENANT_ID=<xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx>
export AZURE_SUBSCRIPTION_ID=<xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx>
export AZURE_CLIENT_ID=<xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx>
export AZURE_CLIENT_SECRET=<secret>

export LOCATION=eastus

RP_RESOURCEGROUP=<rpresourcegroup>
export COSMOSDB_ACCOUNT=<cosmosdbaccount>
export COSMOSDB_KEY="$(az cosmosdb keys list -g "$RP_RESOURCEGROUP" -n "$COSMOSDB_ACCOUNT" --query primaryMasterKey -o tsv 2>/dev/null)"

export PULL_SECRET='<secret-json-object>'
