# use unique prefix for Azure resources when it is set, otherwise use your user's name
export AZUREPREFIX="${AZURE_PREFIX:-$USER}"
export LOCATION=eastus
export ARO_IMAGE=arointsvc.azurecr.io/aro:latest
export NO_CACHE=false
export AZURE_EXTENSION_DEV_SOURCES="$(pwd)/python"

export ARO_SKIP_PKI_TESTS=true

. secrets/env
