receivers:
  journald:
    directory: /var/log/journal
    journalctl_path: /usr/bin/journalctl
    start_at: beginning
    storage: file_storage
    operators:
      - id: kubenswrapper-multiline
        type: recombine
        if: attributes["SYSLOG_IDENTIFIER"] == "kubenswrapper"
        combine_field: body
        is_first_entry: body matches "^[^\\s]"
  file_log/containers:
    include:
{{- if eq .Profile "minimal-logs" }}
      - /var/log/containers/*_openshift-azure-*_*.log
      - /var/log/containers/*_openshift-apiserver_*.log
      - /var/log/containers/*_openshift-authentication_*.log
      - /var/log/containers/*_openshift-etcd_*.log
      - /var/log/containers/*_openshift-kube-apiserver_*.log
      - /var/log/containers/*_openshift-kube-controller-manager_*.log
      - /var/log/containers/*_openshift-kube-scheduler_*.log
      - /var/log/containers/*_openshift-dns_*.log
      - /var/log/containers/*_openshift-ingress_*.log
      - /var/log/containers/*_openshift-ovn-kubernetes_*.log
      - /var/log/containers/*_openshift-network-operator_*.log
      - /var/log/containers/*_openshift-machine-config-operator_*.log
      - /var/log/containers/*_openshift-machine-api_*.log
{{- else }}
      - /var/log/containers/*_default_*.log
      - /var/log/containers/*_kube-*_*.log
      - /var/log/containers/*_openshift_*.log
      - /var/log/containers/*_openshift-*_*.log
{{- end }}
    # Match legacy fluentbit namespace filtering behavior by keeping only
    # default/kube*/openshift* namespaces and excluding known high-volume
    # openshift namespaces that were intentionally omitted before.
    exclude:
      - /var/log/containers/*_openshift-logging_*.log
      - /var/log/containers/*_openshift-keda_*.log
      - /var/log/containers/*_openshift-gitops_*.log
      - /var/log/containers/*_openshift-user-workload-monitoring_*.log
      - /var/log/containers/*_openshift-adp_*.log
      - /var/log/containers/*_openshift-distributed-tracing_*.log
      - /var/log/containers/*_openshift-cnv_*.log
      - /var/log/containers/*_openshift-serverless_*.log
      - /var/log/containers/*_openshift-pipelines_*.log
      - /var/log/containers/*_openshift-nfd_*.log
    start_at: end
    storage: file_storage
    include_file_path: true
    include_file_path_resolved: true
    include_file_name: false
    operators:
      - type: move
        from: attributes["log.file.path_resolved"]
        to: attributes["log.file.path"]
        if: 'attributes["log.file.path_resolved"] != nil'
      # Parse container runtime format and recombine CRI partial ("P"/"F") multiline logs.
      - type: container
      - id: klog_parse
        type: regex_parser
        parse_from: body
        parse_to: body
        regex: ^(?<severity>[IWECF])(?:\d{4} \d{2}:\d{2}:\d{2}\.\d{6}) +(?:\d+) (?<src_file>[^:]+):(?<src_line>\d+)\] (?<message>(?:.|\n)*)
        severity:
          parse_from: body.severity
          mapping:
            warn: W
            error: E
            fatal: F
            info: I
            debug: D
        on_error: send_quiet
      - id: logrus_parse
        type: regex_parser
        parse_from: body
        parse_to: body
        regex: '^time="[^"]+" level=(?<severity>[a-zA-Z]+) msg="(?<message>(?:[^"\\\\]|\\\\.)*)"(?:(?: [^= ]+=[^ ]+)*)?(?: file="(?<src_file>[^":]+):(?<src_line>\d+)")?.*$'
        severity:
          parse_from: body.severity
          mapping:
            warn: warn
            warning: warn
            error: error
            fatal: fatal
            info: info
            debug: debug
        on_error: send_quiet
      - id: klog_value_parse
        type: key_value_parser
        if: 'type(body) == "map"'
        parse_from: body.message
        parse_to: body.fields
        on_error: send_quiet
      - type: flatten
        field: body
        if: 'type(body) == "map"'
{{- if .IncludeAudit }}
  file_log/audit:
    include:
      - /var/log/kube-apiserver/audit.log
    start_at: end
    storage: file_storage
    on_truncate: read_whole_file
    include_file_path: true
    operators:
      - type: json_parser
        parse_from: body
        parse_to: body
        timestamp:
          parse_from: body.stageTimestamp
          layout_type: strptime
          layout: "%Y-%m-%dT%H:%M:%S.%LZ"
{{- end }}

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 1000
    spike_limit_mib: 150
{{- if eq .Profile "minimal-logs" }}
  filter/keep-only-high-signal:
    error_mode: ignore
    logs:
      log_record:
        - 'not ((IsString(body) and (IsMatch(body, "level=(error|warn|warning)") or IsMatch(body, "\\bE[0-9]{4}\\b|\\bW[0-9]{4}\\b") or IsMatch(body, "Update error .*: ClusterOperatorDegraded"))) or (IsMap(body) and ((IsString(body["severity"]) and IsMatch(body["severity"], "^[EWF]$")) or (IsString(body["message"]) and (IsMatch(body["message"], "level=(error|warn|warning)") or IsMatch(body["message"], "\\bE[0-9]{4}\\b|\\bW[0-9]{4}\\b") or IsMatch(body["message"], "Update error .*: ClusterOperatorDegraded"))))))'
  filter/drop-journald-noise:
    error_mode: ignore
    logs:
      log_record:
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "ovs-vswitchd" and IsString(body) and IsMatch(body, "flow_mods")'
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "sshd" and IsString(body) and IsMatch(body, "kex_exchange_identification|Connection reset by")'
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "NetworkManager" and IsString(body) and IsMatch(body, "new Veth device|new Open vSwitch Port device|carrier: link connected")'
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "kernel" and IsString(body) and IsMatch(body, "entered promiscuous mode|left promiscuous mode")'
  filter/keep-journald-high-signal:
    error_mode: ignore
    logs:
      log_record:
        - 'not ((IsString(attributes["PRIORITY"]) and (attributes["PRIORITY"] == "0" or attributes["PRIORITY"] == "1" or attributes["PRIORITY"] == "2" or attributes["PRIORITY"] == "3" or attributes["PRIORITY"] == "4")) or (IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "kubenswrapper" and IsString(body) and IsMatch(body, "\\b(E|W)[0-9]{4}\\b|ContainerStatus from runtime service failed|\\bFailed\\b|\\bfailed\\b|timed out|timeout|\\berr=")) or (IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "crio" and IsString(body) and IsMatch(body, "level=(error|warn|warning|fatal)|\\bFailed\\b|\\bfailed\\b|timed out|timeout|\\berror\\b")))'
  filter/keep-audit-write-verbs:
    error_mode: ignore
    logs:
      log_record:
        - 'not (IsMap(body) and IsString(body["verb"]) and IsMatch(body["verb"], "^(create|update|delete|patch)$"))'
  filter/drop-audit-review-noise:
    error_mode: ignore
    logs:
      log_record:
        - 'IsMap(body) and IsMap(body["objectRef"]) and IsString(body["objectRef"]["resource"]) and IsMatch(body["objectRef"]["resource"], "^(tokenreviews|accessreviews|selfsubjectaccessreviews)$")'
        - 'IsMap(body) and IsString(body["requestURI"]) and IsMatch(body["requestURI"], "/(tokenreviews|accessreviews|selfsubjectaccessreviews)(/|\\?|$)")'
  filter/drop-audit-non-platform-namespaces:
    error_mode: ignore
    logs:
      log_record:
        - 'not (IsMap(body) and IsMap(body["objectRef"]) and IsString(body["objectRef"]["namespace"]) and IsMatch(body["objectRef"]["namespace"], "^(default|kube-.+|openshift(?:-.+)?)$") and not IsMatch(body["objectRef"]["namespace"], "^openshift-(logging|keda|gitops|user-workload-monitoring|adp|distributed-tracing|cnv|serverless|pipelines|nfd)$"))'
{{- else if eq .Profile "reduced-logs" }}
  filter/drop-olm-noise:
    error_mode: ignore
    logs:
      log_record:
        - 'IsString(body) and IsMatch(body, "addrConn\\.createTransport failed to connect|connect: connection refused")'
        - IsString(body) and IsMatch(body, "install strategy successful")
        - IsString(body) and IsMatch(body, "resolving sources|checking if subscriptions need update")
        - IsString(body) and IsMatch(body, "evaluating current pod|matching label selector, 1 have the correct images and matching hash")
        - IsString(body) and IsMatch(body, "No subscriptions were found in namespace")
  filter/drop-journald-noise:
    error_mode: ignore
    logs:
      log_record:
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "ovs-vswitchd" and IsString(body) and IsMatch(body, "flow_mods")'
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "sshd" and IsString(body) and IsMatch(body, "kex_exchange_identification|Connection reset by")'
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "NetworkManager" and IsString(body) and IsMatch(body, "new Veth device|new Open vSwitch Port device|carrier: link connected")'
        - 'IsString(attributes["SYSLOG_IDENTIFIER"]) and attributes["SYSLOG_IDENTIFIER"] == "kernel" and IsString(body) and IsMatch(body, "entered promiscuous mode|left promiscuous mode")'
  filter/keep-audit-write-verbs:
    error_mode: ignore
    logs:
      log_record:
        - 'not (IsMap(body) and IsString(body["verb"]) and IsMatch(body["verb"], "^(create|update|delete|patch)$"))'
  filter/drop-audit-review-noise:
    error_mode: ignore
    logs:
      log_record:
        - 'IsMap(body) and IsMap(body["objectRef"]) and IsString(body["objectRef"]["resource"]) and IsMatch(body["objectRef"]["resource"], "^(tokenreviews|accessreviews|selfsubjectaccessreviews)$")'
        - 'IsMap(body) and IsString(body["requestURI"]) and IsMatch(body["requestURI"], "/(tokenreviews|accessreviews|selfsubjectaccessreviews)(/|\\?|$)")'
  filter/drop-audit-non-platform-namespaces:
    error_mode: ignore
    logs:
      log_record:
        - 'not (IsMap(body) and IsMap(body["objectRef"]) and IsString(body["objectRef"]["namespace"]) and IsMatch(body["objectRef"]["namespace"], "^(default|kube-.+|openshift(?:-.+)?)$") and not IsMatch(body["objectRef"]["namespace"], "^openshift-(logging|keda|gitops|user-workload-monitoring|adp|distributed-tracing|cnv|serverless|pipelines|nfd)$"))'
{{- end }}
  transform/log-parity:
    error_mode: ignore
    log_statements:
      - context: log
        statements:
          # Match Fluent Bit journald key pruning behavior.
          - delete_matching_keys(log.attributes, "^_")
          - delete_matching_keys(log.attributes, "^JOB_")
          - delete_matching_keys(log.attributes, "^NM_")
          - delete_matching_keys(log.attributes, "^COREDUMP_")
          - delete_key(log.attributes, "TIMESTAMP")
          - delete_key(log.attributes, "TIMESTAMP_MONOTONIC")
          - delete_key(log.attributes, "SYSLOG_FACILITY")
          - delete_key(log.attributes, "SYSLOG_TIMESTAMP")
          - delete_key(log.attributes, "SYSLOG_PID")
          - delete_key(log.attributes, "MESSAGE_ID")
          - delete_key(log.attributes, "INVOCATION_ID")
          - delete_key(log.attributes, "CPU_USAGE_NSEC")
          - delete_key(log.attributes, "BOOT_ID")
          - delete_key(log.attributes, "PENDING")
          # Match Fluent Bit audit nesting lift behavior.
          - set(log.body["user_username"], log.body["user"]["username"]) where IsMap(log.body) and IsMap(log.body["user"]) and log.body["user"]["username"] != nil
          - set(log.body["user_uid"], log.body["user"]["uid"]) where IsMap(log.body) and IsMap(log.body["user"]) and log.body["user"]["uid"] != nil
          - set(log.body["user_groups"], log.body["user"]["groups"]) where IsMap(log.body) and IsMap(log.body["user"]) and log.body["user"]["groups"] != nil
          - set(log.body["user_extra"], log.body["user"]["extra"]) where IsMap(log.body) and IsMap(log.body["user"]) and log.body["user"]["extra"] != nil
          - set(log.body["impersonatedUser_username"], log.body["impersonatedUser"]["username"]) where IsMap(log.body) and IsMap(log.body["impersonatedUser"]) and log.body["impersonatedUser"]["username"] != nil
          - set(log.body["impersonatedUser_uid"], log.body["impersonatedUser"]["uid"]) where IsMap(log.body) and IsMap(log.body["impersonatedUser"]) and log.body["impersonatedUser"]["uid"] != nil
          - set(log.body["impersonatedUser_groups"], log.body["impersonatedUser"]["groups"]) where IsMap(log.body) and IsMap(log.body["impersonatedUser"]) and log.body["impersonatedUser"]["groups"] != nil
          - set(log.body["impersonatedUser_extra"], log.body["impersonatedUser"]["extra"]) where IsMap(log.body) and IsMap(log.body["impersonatedUser"]) and log.body["impersonatedUser"]["extra"] != nil
          - set(log.body["responseStatus_code"], log.body["responseStatus"]["code"]) where IsMap(log.body) and IsMap(log.body["responseStatus"]) and log.body["responseStatus"]["code"] != nil
          - set(log.body["responseStatus_reason"], log.body["responseStatus"]["reason"]) where IsMap(log.body) and IsMap(log.body["responseStatus"]) and log.body["responseStatus"]["reason"] != nil
          - set(log.body["responseStatus_status"], log.body["responseStatus"]["status"]) where IsMap(log.body) and IsMap(log.body["responseStatus"]) and log.body["responseStatus"]["status"] != nil
          - set(log.body["responseStatus_message"], log.body["responseStatus"]["message"]) where IsMap(log.body) and IsMap(log.body["responseStatus"]) and log.body["responseStatus"]["message"] != nil
          - set(log.body["responseStatus_metadata"], log.body["responseStatus"]["metadata"]) where IsMap(log.body) and IsMap(log.body["responseStatus"]) and log.body["responseStatus"]["metadata"] != nil
          - set(log.body["objectRef_resource"], log.body["objectRef"]["resource"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["resource"] != nil
          - set(log.body["objectRef_namespace"], log.body["objectRef"]["namespace"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["namespace"] != nil
          - set(log.body["objectRef_name"], log.body["objectRef"]["name"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["name"] != nil
          - set(log.body["objectRef_uid"], log.body["objectRef"]["uid"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["uid"] != nil
          - set(log.body["objectRef_apiGroup"], log.body["objectRef"]["apiGroup"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["apiGroup"] != nil
          - set(log.body["objectRef_apiVersion"], log.body["objectRef"]["apiVersion"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["apiVersion"] != nil
          - set(log.body["objectRef_resourceVersion"], log.body["objectRef"]["resourceVersion"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["resourceVersion"] != nil
          - set(log.body["objectRef_subresource"], log.body["objectRef"]["subresource"]) where IsMap(log.body) and IsMap(log.body["objectRef"]) and log.body["objectRef"]["subresource"] != nil
          - set(log.attributes["container"], resource.attributes["k8s.container.name"]) where resource.attributes["k8s.container.name"] != nil
          - set(log.attributes["pod"], resource.attributes["k8s.pod.name"]) where resource.attributes["k8s.pod.name"] != nil
          - set(log.attributes["namespace"], resource.attributes["k8s.namespace.name"]) where resource.attributes["k8s.namespace.name"] != nil
          - set(log.attributes["node"], "${env:MONITORING_ROLE_INSTANCE}")
          - set(log.attributes["raw_json_body"], log.body)
          # Preserve original nested objects so unmapped keys are retained.
  attributes/common:
    actions:
      - key: Environment
        action: delete
{{- if .EmitSourceFields }}
{{- range .Sources }}
  attributes/source-{{ .Name }}:
    actions:
      - key: source_name
        value: {{ .Name }}
        action: upsert
      - key: EventName
        value: {{ .EventName }}
        action: upsert
{{- end }}
{{- end }}
  batch:
    timeout: 10s
    send_batch_size: 2048
    send_batch_max_size: 4096

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  file_storage:
    directory: /var/lib/otelcol/file_storage

exporters:
  {{ .GatewayExporterID }}:
    endpoint: ${env:GENEVA_GATEWAY_ENDPOINT}
    compression: gzip
    retry_on_failure:
      enabled: true
    sending_queue:
      enabled: true
      # Prefer bounded local buffering over unbounded in-memory growth.
      queue_size: 1200
      num_consumers: 2
      storage: file_storage

service:
  extensions: [health_check, file_storage]
  pipelines:
{{- range .Sources }}
    logs/{{ .Name }}:
      receivers: [{{ .Receiver }}]
{{- if eq .Name "journald" }}
{{- if eq $.Profile "minimal-logs" }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, filter/drop-journald-noise, filter/keep-journald-high-signal, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, filter/drop-journald-noise, filter/keep-journald-high-signal, transform/log-parity, attributes/common, batch]
{{- end }}
{{- else if eq $.Profile "reduced-logs" }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, filter/drop-journald-noise, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, filter/drop-journald-noise, transform/log-parity, attributes/common, batch]
{{- end }}
{{- else }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, transform/log-parity, attributes/common, batch]
{{- end }}
{{- end }}
{{- else if eq .Name "audit" }}
{{- if eq $.Profile "minimal-logs" }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, filter/keep-audit-write-verbs, filter/drop-audit-review-noise, filter/drop-audit-non-platform-namespaces, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, filter/keep-audit-write-verbs, filter/drop-audit-review-noise, filter/drop-audit-non-platform-namespaces, transform/log-parity, attributes/common, batch]
{{- end }}
{{- else if eq $.Profile "reduced-logs" }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, filter/keep-audit-write-verbs, filter/drop-audit-review-noise, filter/drop-audit-non-platform-namespaces, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, filter/keep-audit-write-verbs, filter/drop-audit-review-noise, filter/drop-audit-non-platform-namespaces, transform/log-parity, attributes/common, batch]
{{- end }}
{{- else }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, transform/log-parity, attributes/common, batch]
{{- end }}
{{- end }}
{{- else }}
{{- if eq $.Profile "minimal-logs" }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, filter/keep-only-high-signal, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, filter/keep-only-high-signal, transform/log-parity, attributes/common, batch]
{{- end }}
{{- else if eq $.Profile "reduced-logs" }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, filter/drop-olm-noise, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, filter/drop-olm-noise, transform/log-parity, attributes/common, batch]
{{- end }}
{{- else }}
{{- if $.EmitSourceFields }}
      processors: [memory_limiter, transform/log-parity, attributes/common, attributes/source-{{ .Name }}, batch]
{{- else }}
      processors: [memory_limiter, transform/log-parity, attributes/common, batch]
{{- end }}
{{- end }}
{{- end }}
      exporters: [{{ $.GatewayExporterID }}]
{{- end }}
