---
# az aro update succeeds in rotating certs and SP:
# backup azure secret: oc get secret/azure-credentials -n kube-system -o yaml > ac.old.yaml
# run az aro update --refresh-credentials
# check azure secret again and verify that azure_client_secret was updated there
- name: refresh_credentials | Get original secret/azure-credentials
  kubernetes.core.k8s_info:
    kubeconfig: /tmp/{{ inventory_hostname }}.kubeconfig
    api_version: v1
    kind: Secret
    name: azure-credentials
    namespace: kube-system
  delegate_to: "{{ delegation }}"
  register: oc_get_azure_credentials
- name: refresh_credentials | Az aro update refresh-credentials
  ansible.builtin.command:
    argv:
      - az
      - aro
      - update
      - --name={{ name }}
      - --resource-group={{ resource_group }}
      - --refresh-credentials
      - -o=yaml
  delegate_to: localhost
  register: az_aro_update
  changed_when: az_aro_update.rc == 0
  # FIXME: Need to investigate why this occasionally fails with InternalServerError
  retries: 3
  delay: 60
- name: refresh_credentials | Wait for provisioningState to become Succeeded
  azure.azcollection.azure_rm_openshiftmanagedcluster_info:
    name: "{{ name }}"
    resource_group: "{{ resource_group }}"
  delegate_to: localhost
  register: cluster_status
  until: cluster_status.clusters.properties.provisioningState == 'Succeeded'
- name: refresh_credentials | Get new secret/azure-credentials
  kubernetes.core.k8s_info:
    kubeconfig: /tmp/{{ inventory_hostname }}.kubeconfig
    api_version: v1
    kind: Secret
    name: azure-credentials
    namespace: kube-system
  delegate_to: "{{ delegation }}"
  register: oc_get_azure_credentials_new
- name: refresh_credentials | Verify secrets have changed
  when: oc_get_azure_credentials == oc_get_azure_credentials_new
  ansible.builtin.fail:
    msg: "Secret/azure-credentials did not change after `az aro update`"
