rps:
- location: eastus
  subscriptionId: 00000000-0000-0000-0000-000000000000
  resourceGroupName: aro-eastus
  configuration:
    databaseAccountName: ''
    keyvaultPrefix: ''
configuration:
  acrResourceId: ''
  actionGroupSubscriptionResourceGroupName: ''
  adminApiCaBundle: ''
  adminApiClientCertCommonName: ''
  clusterParentDomainName: ''
  extraClusterKeyvaultAccessPolicies: []
  extraCosmosDBIPs: ''
  extraServiceKeyvaultAccessPolicies: []
  fpServerCertCommonName: ''
  fpServicePrincipalId: ''
  globalMonitoringKeyVaultUri: ''
  globalResourceGroupName: ''
  globalSubscriptionId: ''
  mdmFrontendUrl: ''
  mdsdConfigVersion: ''
  mdsdEnvironment: ''
  rpImagePrefix: ''
  rpMode: ''
  rpParentDomainName: ''
  sshPublicKey: ''
