rps:
- location: eastus
  subscriptionId: 00000000-0000-0000-0000-000000000000
  resourceGroupName: aro-eastus
  configuration:
    adminApiCaBundle: overridden
configuration:
  adminApiCaBundle: ''
  adminApiClientCertCommonName: ''
  databaseAccountName: ''
  domainName: ''
  extraCosmosDBIPs: ''
  extraKeyvaultAccessPolicies: []
  fpServicePrincipalId: ''
  globalMonitoringKeyVaultUri: ''
  globalSubscriptionId: ''
  keyvaultPrefix: ''
  mdmFrontendUrl: ''
  mdsdConfigVersion: ''
  mdsdEnvironment: ''
  pullSecret: ''
  rpFirstPartyCertCommonName: ''
  rpImage: ''
  rpImageAuth: ''
  rpMode: ''
  rpServerCertCommonName: ''
  rpServicePrincipalId: ''
  sshPublicKey: ''
  vmssName: ''
