
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.3-0.20210916130746-94401651a6c3
  creationTimestamp: null
  name: previewfeatures.preview.aro.openshift.io
spec:
  group: preview.aro.openshift.io
  names:
    kind: PreviewFeature
    listKind: PreviewFeatureList
    plural: previewfeatures
    singular: previewfeature
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PreviewFeature is the Schema for the preview feature API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PreviewFeatureSpec defines the preview feature for ARO
            properties:
              nsgFlowLogs:
                description: NSGFlowLogs contains configuration for NSG flow logs.
                  Omit the configuration if you don't want the controller to reconcile
                  NSG flow logs.
                properties:
                  enabled:
                    description: 'Enabled defines the behaviour of the reconciler:
                      when true the controller will try to reach the desired configuration,
                      when false it will try to disable the flow logs.'
                    type: boolean
                  retention:
                    default: 2160h
                    description: Retention period for data.
                    type: string
                  storageAccountResourceId:
                    description: StorageAccountResourceID should be defined if BYO-Storage
                      account is used. Must be in the same region of flow log.
                    type: string
                  trafficAnalyticsInterval:
                    default: 60m
                    description: 'Interval at which to conduct flow analytics. Values:
                      60m, 10m. Default: 60m.'
                    enum:
                    - 60m
                    - 10m
                    type: string
                  trafficAnalyticsLogAnalyticsWorkspaceId:
                    description: Required for TrafficAnalytics. Must be in the same
                      region of flow log.
                    type: string
                  version:
                    default: 2
                    description: Version defines version of NSG flow log.
                    enum:
                    - 1
                    - 2
                    type: integer
                required:
                - enabled
                type: object
            type: object
          status:
            description: PreviewFeatureStatus defines the observed state of PreviewFeature
            properties:
              conditions:
                items:
                  description: OperatorCondition is just the standard condition fields.
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  type: object
                type: array
              operatorVersion:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
