{{ define "00-aro-dns.conf" }}
strict-order
address=/api.{{ .ClusterDomain }}/{{ .APIIntIP }}
address=/api-int.{{ .ClusterDomain }}/{{ .APIIntIP }}
address=/.apps.{{ .ClusterDomain }}/{{ .IngressIP }}
{{- range $GatewayDomain := .GatewayDomains }}
address=/{{ $GatewayDomain }}/{{ $.GatewayPrivateEndpointIP }}
{{- end }}
no-hosts
cache-size=0
{{ end }}
