name: Maintenance
on:
  push:
  pull_request_target:
    types:
    - synchronize

jobs:
  main:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: check if prs are dirty
        uses: eps1lon/actions-label-merge-conflict@releases/2.x
        with:
          dirtyLabel: needs-rebase
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          commentOnDirty: "Please rebase pull request."
