name: Maintenance

on:
  push:
  pull_request_target:
    types:
      - synchronize

permissions:
  contents: read
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: check if prs are dirty
        uses: eps1lon/actions-label-merge-conflict@fd1f295ee7443d13745804bc49fe158e240f6c6e # releases/2.1.0
        with:
          dirtyLabel: needs-rebase
          removeOnDirtyLabel: ready-for-review
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          commentOnDirty: "Please rebase pull request."
