name: pull_request-test-go
on:
  pull_request:
    types:
    - opened
    - synchronize
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/rp/go
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
    - name: Check out source
      uses: actions/checkout@v1
      with:
        path: go/src/github.com/Azure/ARO-RP
    - name: Test
      run: |
        set -x
        make test-go
        [[ -z "$(git status -s)" ]]
