name: release-note

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ github.ref }}
        fetch-depth: 0
        # ref and fetch-depth: 0 are required to retrieve tag annotations.
        # (see https://github.com/actions/runner-images/issues/1717)

    - name: Generate Changelog
      run: ./.github/generate_release_note.sh ${{ github.workspace }}/CHANGELOG.txt

    - name: Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        body_path: ${{ github.workspace }}/CHANGELOG.txt
        name: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
