---
# MegaLinter GitHub Action configuration file
# More info at https://oxsecurity.github.io/megalinter
name: mega-linter-yaml

on:
  pull_request:

jobs:
  build:
    name: mega-linter-yaml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: yamllint
        uses: oxsecurity/megalinter/flavors/ci_light@v6
